<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titulo</title>
    <link rel="stylesheet" href="app/assets/bootstrap-4.1.0/css/bootstrap.min.css">
    {% block style %}{% endblock %}
</head>
<body>
    {% include 'shared/navbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="app/assets/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="app/assets/bootstrap-4.1.0/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>